.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mainTitle {
  font-size: 26px;
  font-weight: 700;
  padding: 24px 0;
}

.table {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding-bottom: 21px;
}

.tfRow {
  display: flex;
  flex-direction: row;
  border-top: 2px solid rgb(168, 168, 168);
  padding: 6px 0;
  background-color: rgb(50, 164, 193);
  color: rgb(254, 254, 254);
  font-size: 14px;
  font-weight: 400;
}

.tRow {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid rgb(168, 168, 168);
  padding: 6px 0;
}

.colId,
.colUser,
.colHotel,
.colDate {
  width: 28%;
  border-left: 2px solid rgb(168, 168, 168);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.colRoom,
.colPrice,
.colMethod,
.colStatus {
  font-size: 12px;
  width: 12%;
  border-left: 2px solid rgb(168, 168, 168);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.colStatus {
  border-right: 2px solid rgb(168, 168, 168);
}

.tfRow .colHotel,
.tfRow .colDate,
.tfRow .colStatus,
.tfRow .colRoom,
.tfRow .colPrice,
.tfRow .colMethod {
  font-size: 16px;
  font-weight: 500;
}
